:root {
  --text-button-color: #4d5ae5;
  --hover-text-button-color: #ffffff;
  --navy-text-color: #2e2f42;
  --p-text-color: #434455;
  --hover-focus-color: #404bbf;
  --dominant-type-font-size: 16px;
  --h2-margin-bottom: 8px;
  --h2-margin-top: 32px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 500;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* img {
  display: block;
} */

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* .section {
  padding-top: 120px;
  padding-bottom: 120px;
} */

/* =================/components================ */

/* ==================HEADER=================== */

.container {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 736px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1128px;
  }
}

.mobile-menu-open {
  padding: 0;
  border: none;
  line-height: 0;
}

.menu {
  display: none;
}

.contact-link {
  display: none;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

/* .header {
  padding-top: 24px;
  padding-bottom: 26px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
} */

/* .container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  align-items: center;
} */

/* .header-container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
} */

/* .menu-item:not(:last-child) {
  margin-right: 40px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--text-button-color);
  margin-right: 76px;
}

.accent {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  color: var(--navy-text-color);
}
.menu-link {
  position: relative;
  font-weight: 700;
  font-size: var(--dominant-type-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--hover-focus-color);
}

.active-page {
  color: var(--hover-focus-color);
}

.active-page::after {
  position: absolute;
  content: '';
  left: 0;
  top: 45px;
  background: var(--hover-focus-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  pointer-events: none;
}

.contact-link {
  display: flex;
  margin-left: auto;
}

.contact {
  font-size: var(--dominant-type-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--p-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail {
  margin-right: 40px;
}

.contact:hover,
.contact:focus {
  color: var(--hover-focus-color);
} */

/* ==================/HEADER=================== */

/* ====================MAIN==================== */

/* =====================HERO=================== */

/* .main-hero {
  background: var(--navy-text-color);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/herofon/herofon.jpg);
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.title-hero {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--hover-text-button-color);
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-container {
  text-align: center;
}

.modal-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: var(--dominant-type-font-size);
  line-height: 1.5;
  padding: 16px 32px;
  letter-spacing: 0.04em;
  color: var(--hover-text-button-color);
  background: var(--text-button-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 2px;
  border-width: 169px;

  margin-left: auto;
  margin-right: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--hover-focus-color);
} */

/* ==============HERO============== */

/* ============== SECTION-1 ADVANTAGES ============== */
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.advantages-list {
  display: flex;
}

.list-item {
  max-width: 264px;
}

.list-item:not(:last-child) {
  margin-right: 24px;
}

.advantages-icon {
  display: flex;
  padding: 24px 100px;
  height: 112px;
  margin-bottom: var(--h2-margin-bottom);
  background-color: #f4f4fd;
  border-radius: 4px;
}

.advantages-icon-list {
  width: 64px;
  height: 64px;
}

.item {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-text-color);
  margin-bottom: var(--h2-margin-bottom);
}

.description-item {
  font-size: var(--dominant-type-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--p-text-color);
} */
/* ============== SECTION-1 ADVANTAGES ============== */

/* ============== SECTION-2 examples ============== */

/* .our-works {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-text-color);
  margin-bottom: 72px;
}

.list-work {
  display: flex;
}

.item-work:not(:last-child) {
  margin-right: 24px;
} */

/* ============== SECTION-2 examples ============== */

/* ============== SECTION-3 team ============== */

/* .team {
  background: #f4f4fd;
}
.our-team {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-text-color);
  margin-bottom: 72px;
}

.list-team {
  display: flex;
}

.item-team:not(:last-child) {
  margin-right: 24px;
}

.item-team {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.position-team {
  padding: 32px 16px;
}

.team-member {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-text-color);
  margin-bottom: var(--h2-margin-bottom);
}
.position-member {
  font-size: var(--dominant-type-font-size);
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--p-text-color);
  margin-bottom: var(--h2-margin-bottom);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--hover-focus-color);
} */

/* ============== /SECTION-3 team ============== */

/* ============== SECTION-4 customers ============== */

/* .customers-title {
  display: flex;
  font-size: 36px;
  margin-bottom: 72px;
  justify-content: center;
  color: var(--navy-text-color);
}

.customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.customers-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.customers-icon {
  fill: #8e8f99;
  padding: 16px 32px;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon,
.customers-link:active .customers-icon {
  fill: var(--hover-focus-color);
  border-color: var(--hover-focus-color);
} */

/* ============== /SECTION-4 customers ============== */

/* ============== Footer ============== */

/* .footer > .container {
  display: flex;
}

.container-footer {
  align-items: flex-start;
}

.footer {
  background: var(--navy-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--text-button-color);
  margin-right: 0;
}

.accent-footer {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.item-footer {
  font-size: var(--dominant-type-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  margin-top: 16px;
  max-width: 264px;
}

.container-social {
  margin-left: 120px;
  margin-right: 80px;
}

.social-media {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--hover-text-button-color);
  margin-bottom: 16px;
}
.social-media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #f4f4fd;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
} */

/*===============container-subscribe============*/

/* .container-subscribe {
  width: 453px;
}

.footer-subscribe {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--hover-text-button-color);
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
}

.footer-form-input {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  width: 264px;
  height: 40px;
  padding: 10px 16px;
  margin-right: 24px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--navy-text-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:focus {
  outline: none;
  color: var(--hover-text-button-color);
  border: 1px solid var(--text-button-color);
}

.button-subscribe {
  display: flex;
  position: relative;
  align-items: center;
  font-weight: 500;
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  border-radius: 4px;
  color: var(--hover-text-button-color);
  background-color: var(--text-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: var(--hover-focus-color);
  outline: none;
}

.button-icon {
  position: absolute;
  fill: var(--hover-text-button-color);
  top: 8px;
  right: 24px;
} */

/*===============/container-subscribe============*/

/* ============== /Footer ============== */

/* ============== PORTFOLIO ============== */

/* .portfolio {
  padding-left: 0;
  padding-right: 0;
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-item {
  font-family: inherit;
  font-weight: 500;
  font-size: var(--dominant-type-font-size);
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--text-button-color);
  cursor: pointer;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .button-item:hover,
.button-item:focus {
  background-color: var(--hover-focus-color);
  color: var(--hover-text-button-color);
  border: 1px solid var(--hover-focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-items {
  justify-content: center;
  align-content: center;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper-img-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay {
  position: absolute;
  font-size: var(--dominant-type-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px 164px 32px;
  background-color: var(--text-button-color);

  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translate(0, 0);
}

.portfolio-description {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-text-color);
  margin-bottom: var(--h2-margin-bottom);
}

.portfolio-item {
  font-size: var(--dominant-type-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--p-text-color);
}

.container-border {
  padding: 32px 0 31px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  gap: 24px;
  width: 360px;
} */

/* ============== /PORTFOLIO ============== */

/*===================Modal===================*/

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--hover-focus-color);
  border: 0;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: #ffffff;
} */

/*=================== /Modal===================*/

/*=================== Modal-Form ===================*/

/* .leave-contacts {
  font-style: normal;
  font-weight: 500;
  font-size: var(--dominant-type-font-size);
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.form-icon-wraper {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border: 1px solid var(--text-button-color);
  outline: none;
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .icon-form {
  fill: var(--text-button-color);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  border: 1px solid var(--text-button-color);
  outline: none;
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-chec-desc {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  margin-top: 8px;
  margin-bottom: 24px;
}

.modal-form-chec-desc::before {
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border-radius: 2px;
  border: 1.25px solid #2e2f42;
  margin-right: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/checkbox.svg);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-form-chec-desc::before {
  background-color: var(--hover-focus-color);
  border: 0;
}

.modal-form-checkbox:focus + .modal-form-chec-desc::before {
  outline: 1px solid var(--text-button-color);
}

.color-privacy-policy {
  color: var(--text-button-color);
}

.modal-form-submit {
  align-self: center;
  font-family: inherit;
  font-weight: 500;
  font-size: var(--dominant-type-font-size);
  line-height: 1.5;
  padding: 16px 32px;
  letter-spacing: 0.04em;
  color: var(--hover-text-button-color);
  background: var(--text-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 2px;
  width: 169px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--hover-focus-color);
} */

/*=================== /Modal-Form ===================*/
